<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电影下载-首页</title>
</head>
<body>

<ol>

<li><a href="0" target="_blank"><button>{{ name1 }}</button></a></li>
<li><a href="0" target="_blank"><button>{{ name2 }}</button></a></li>

<li><a href="C:\Users\Administrator\PycharmProjects\PYTHON_V3.5_20170913\DJANGO_20180113\movie\dy\templates\movie_detail.html" target="_blank"><button>英伦对决 高清下载</button></a></li>
<li><a href="http://www.flvweb.com/html/DY326022.html"  target="_blank"><button>战狼2    高清下载</button></a></li>

</ol>

</body>
</html>



